.Rproj.user
.Rhistory
.RData
.Ruserdata
.positai
.RData
.RData
.RDataTmp
.RDataTmp1
.RDataTmp2
.RDataTmp3
.Rhistory
data/Copy of CEC Database v1.2.xlsx
data/FoodProcessing_Table4_DetectedInorganics.txt
data/FoodProcessing_Table5_DetectedOrganics.txt
data/FoodProcessing_Table6_DetectedMicrobial.txt
data/pharms-uba_v3_2021_0.xlsx
data/pikme_all.parquet
.RData
.RData
